body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

input.input {
    border: 0;
    background: #1b1b1d7a;
    width: 80%;
    height: 28px;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    padding: 0px 0px 0px 12px;
}

button.button {
    border: 0;
    color: #fff;
    background: green;
    width: 15%;
    height: 30px;
    padding: 3px;
    border-radius: 3px;
}